In [1]:
import os
import csv
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
test_data = list()
with open("complaints.csv", "r") as f:
    reader = csv.reader(f)
    header = next(reader)
    for i in range((10)):
        test_data.append(next(reader))

In [3]:
shared_cols = [
    "Inc: IA No",
    "Inc: Incident type",
    "Inc: Received date",
    "Inc: Occurred date",
]


multi_cols = [
    "OffSnp: Title/rank",
    "Off: First name",
    "Off: Last name",
    "Alg: Allegation",
    "Alg: Finding",
    "Act: Action taken",
    "Act: Days/hours suspended",
    "Act: Action taken date",
]

In [4]:
df = pd.read_csv("complaints.csv", header = 0)
df.head()

,Inc: IA No,Inc: Incident type,Inc: Received date,OffSnp: Title/rank,Off: First name,Off: Last name,Alg: Allegation,Alg: Finding,Act: Action taken,Act: Days/hours suspended,Act: Action taken date,Inc: Occurred date
0,IAD2011-0003,Citizen complaint,01/05/2011,Sergeant Detective\nPolice Officer,Albert M\nJohn K,Terestre\nRogers,Use of Force\nUse of Force,Exonerated\nExonerated,NaN,0\n0,NaN,06/18/2009
1,IAD2011-0004,Citizen complaint,01/05/2011,Detective,Scott M,Mackie,Conformance to Laws,Unfounded,NaN,NaN,NaN,01/01/2011
2,IAD2011-0011,Citizen complaint,01/07/2011,Police Officer\nPolice Officer\nPolice Officer...,Michael J.\nAngel\nMark E.\nYdritzabel,Olszak\nFigueroa\nMadden Jr.\nOller,Neg.Duty/Unreasonable Judge\nNeg.Duty/Unreason...,Exonerated\nExonerated\nExonerated\nExonerated,NaN,0\n0\n0\n0,NaN,01/03/2011
3,IAD2011-0012,Citizen complaint,01/07/2011,Police Officer,Stephen,Morash,Neg.Duty/Unreasonable Judge,Not Sustained,NaN,NaN,NaN,10/12/2008
4,IAD2011-0013,Citizen complaint,01/07/2011,Police Officer,Andrew B,Blake,Respectful Treatment,Not Sustained,NaN,NaN,NaN,10/27/2010

In [5]:
def linemaker(df):
    new_lines = list()
    new_line_list_number = list()
    max = line[3].count("\n") + 1

    for 
    
    return new_line_list_number
    # IAnumber = line[0]
    # IncidentType = line[1]
    # RecieveDate = line[2]
    # Rank = line[3]

SyntaxError: invalid syntax (1604835706.py, line 6)

In [6]:
def split_cell(cell):
    if pd.isna(cell):
        return []
    return [x.strip() for x in str(cell).splitlines() if x.strip()]

In [7]:
def split_cell(cell):
    if pd.isna(cell):
        return []
    return [x.strip() for x in str(cell).splitlines() if x.strip()]

new_rows = []

for _, row in df.iterrows():
    split_data = {col: split_cell(row[col]) for col in multi_cols}

    n = max((len(v) for v in split_data.values()), default=0)
    if n == 0:
        n = 1

    for i in range(n):
        new_row = {col: row[col] for col in shared_cols}
        for col in multi_cols:
            values = split_data[col]
            new_row[col] = values[i] if i < len(values) else None
        new_rows.append(new_row)

clean_df = pd.DataFrame(new_rows)
clean_df.to_csv("normalized_cases.csv", index=False)

In [8]:
clean_df.iloc[9:12]

,Inc: IA No,Inc: Incident type,Inc: Received date,Inc: Occurred date,OffSnp: Title/rank,Off: First name,Off: Last name,Alg: Allegation,Alg: Finding,Act: Action taken,Act: Days/hours suspended,Act: Action taken date
9,IAD2011-0014,Citizen complaint,01/10/2011,10/24/2009,Police Officer,Joseph,Fawkes,Conduct Unbecoming,Unfounded,None,0,None
10,IAD2011-0014,Citizen complaint,01/10/2011,10/24/2009,Police Officer,Joseph,Fawkes,Neg.Duty/Unreasonable Judge,Unfounded,None,0,None
11,IAD2011-0014,Citizen complaint,01/10/2011,10/24/2009,Police Officer,Joseph,Fawkes,Neg.Duty/Unreasonable Judge,Not Sustained,None,0,None

In [9]:
clean_df["Alg: Finding"].value_counts()

Alg: Finding
Not Sustained     2712
Sustained         2184
Unfounded         1409
Exonerated        1051
Filed               22
Withdrawn           11
Sustained A          5
Sustained B          5
Pending              5
Not Sustained.       1
unfounded            1
Not Sustianed        1
Name: count, dtype: int64

In [10]:
def calculate_first_name(row):
    print(row['Off: First name'])
    print(type(row['Off: First name']))
    print(row['Off: First name']).split()
    print(row['Off: First name']).split()[0]
    return row["Off: First name"].split()[0]

In [11]:
clean_df["First_Name"] = clean_df.apply(lambda row: row["Off: First name"].split()[0] if pd.notna(row["Off: First name"]) else None, axis=1)

In [12]:
clean_df["Middle_Initial"] = clean_df.apply(lambda row: row["Off: First name"].split()[1] if pd.notna(row["Off: First name"]) and len(row["Off: First name"].split()) > 1 else None, axis=1)

In [13]:
clean_df["First_Name"]

0        Albert
1          John
2         Scott
3       Michael
4         Angel
         ...
7402     Willem
7403    Crefton
7404    Crefton
7405    Brendan
7406      Jason
Name: First_Name, Length: 7407, dtype: object

In [14]:
clean_df["Middle_Initial"]

0               M
1               K
2               M
3              J.
4            None
          ...
7402    Christian
7403         None
7404         None
7405           M.
7406         None
Name: Middle_Initial, Length: 7407, dtype: object

In [15]:
clean_df.to_csv("normalized_cases.csv", index=True)