In [1]:
import os
import csv
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# test_data = list()
# with open("complaints.csv", "r") as f:
#     reader = csv.reader(f)
#     header = next(reader)
#     for i in range((10)):
#         test_data.append(next(reader))

FileNotFoundError: [Errno 2] No such file or directory: 'complaints.csv'

In [4]:
shared_cols = [
    "Inc: IA No",
    "Inc: Incident type",
    "Inc: Received date",
    "Inc: Occurred date",
]


multi_cols = [
    "OffSnp: Title/rank",
    "Off: First name",
    "Off: Last name",
    "Alg: Allegation",
    "Alg: Finding",
    "Act: Action taken",
    "Act: Days/hours suspended",
    "Act: Action taken date",
]

In [5]:
df = pd.read_csv("complaints.csv", header = 0)
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'complaints.csv'

In [3]:
# def linemaker(df):
#     new_lines = list()
#     new_line_list_number = list()
#     max = line[3].count("\n") + 1

#     for 
    
#     return new_line_list_number
#     # IAnumber = line[0]
#     # IncidentType = line[1]
#     # RecieveDate = line[2]
#     # Rank = line[3]
# ""

In [46]:
def split_cell(cell):
    if pd.isna(cell):
        return []
    return [x.strip() for x in str(cell).splitlines() if x.strip()]

In [47]:
def split_cell(cell):
    if pd.isna(cell):
        return []
    return [x.strip() for x in str(cell).splitlines() if x.strip()]

new_rows = []

for _, row in df.iterrows():
    split_data = {col: split_cell(row[col]) for col in multi_cols}

    n = max((len(v) for v in split_data.values()), default=0)
    if n == 0:
        n = 1

    for i in range(n):
        new_row = {col: row[col] for col in shared_cols}
        for col in multi_cols:
            values = split_data[col]
            new_row[col] = values[i] if i < len(values) else None
        new_rows.append(new_row)

clean_df = pd.DataFrame(new_rows)
clean_df.to_csv("normalized_cases.csv", index=False)

NameError: name 'df' is not defined

In [ ]:
clean_df.iloc[9:12]

,Inc: IA No,Inc: Incident type,Inc: Received date,Inc: Occurred date,OffSnp: Title/rank,Off: First name,Off: Last name,Alg: Allegation,Alg: Finding,Act: Action taken,Act: Days/hours suspended,Act: Action taken date
9,IAD2011-0014,Citizen complaint,01/10/2011,10/24/2009,Police Officer,Joseph,Fawkes,Conduct Unbecoming,Unfounded,None,0,None
10,IAD2011-0014,Citizen complaint,01/10/2011,10/24/2009,Police Officer,Joseph,Fawkes,Neg.Duty/Unreasonable Judge,Unfounded,None,0,None
11,IAD2011-0014,Citizen complaint,01/10/2011,10/24/2009,Police Officer,Joseph,Fawkes,Neg.Duty/Unreasonable Judge,Not Sustained,None,0,None

In [ ]:
clean_df["Alg: Finding"].value_counts()

Alg: Finding
Not Sustained     2712
Sustained         2184
Unfounded         1409
Exonerated        1051
Filed               22
Withdrawn           11
Sustained A          5
Sustained B          5
Pending              5
Not Sustained.       1
unfounded            1
Not Sustianed        1
Name: count, dtype: int64

In [ ]:
def calculate_first_name(row):
    print(row['Off: First name'])
    print(type(row['Off: First name']))
    print(row['Off: First name']).split()
    print(row['Off: First name']).split()[0]
    return row["Off: First name"].split()[0]

In [ ]:
clean_df["First_Name"] = clean_df.apply(lambda row: row["Off: First name"].split()[0] if pd.notna(row["Off: First name"]) else None, axis=1)

In [ ]:
clean_df["Middle_Initial"] = clean_df.apply(lambda row: row["Off: First name"].split()[1] if pd.notna(row["Off: First name"]) and len(row["Off: First name"].split()) > 1 else None, axis=1)

In [ ]:
clean_df["First_Name"]

0        Albert
1          John
2         Scott
3       Michael
4         Angel
         ...
7402     Willem
7403    Crefton
7404    Crefton
7405    Brendan
7406      Jason
Name: First_Name, Length: 7407, dtype: object

In [ ]:
clean_df["Middle_Initial"]

0               M
1               K
2               M
3              J.
4            None
          ...
7402    Christian
7403         None
7404         None
7405           M.
7406         None
Name: Middle_Initial, Length: 7407, dtype: object

In [45]:
clean_df.to_csv("normalized_cases.csv", index=True)

NameError: name 'clean_df' is not defined

In [ ]:
clean_df.columns

Index(['Inc: IA No', 'Inc: Incident type', 'Inc: Received date',
       'Inc: Occurred date', 'OffSnp: Title/rank', 'Off: First name',
       'Off: Last name', 'Alg: Allegation', 'Alg: Finding',
       'Act: Action taken', 'Act: Days/hours suspended',
       'Act: Action taken date', 'First_Name', 'Middle_Initial'],
      dtype='str')

In [ ]:
hi = (clean_df["Inc: Occurred date"].value_counts())

In [ ]:
hi = clean_df['Inc: Received date'].isna().sum()

hi

np.int64(0)

In [ ]:
overtime = pd.read_csv("bpi_court_overtime.csv")
pay = pd.read_csv("bpi_police_financial.csv")

In [22]:
pay

,employee_id,rank,unit,union_code,race,sex,Zip Code,regular_pay,retro_pay,other_pay,ot_pay,injured_pay,detail_pay,quinn_pay,total_pay,year,rank_bucket,total_pay_percentile
0,103384,Police Officer,District 06,BPP,WHITE,M,2127,NaN,8.92,NaN,NaN,NaN,NaN,NaN,8.92,2017,Officer,0.000000
1,103384,Police Officer,District 02,BPP,WHITE,M,2127,NaN,8.92,NaN,NaN,NaN,NaN,NaN,8.92,2017,Officer,0.000000
2,144486,Police Officer,District 02,BPP,WHITE,M,2131,NaN,23.70,NaN,NaN,NaN,NaN,NaN,23.70,2017,Officer,0.007329
3,144486,Police Officer,Student Officers,BPP,WHITE,M,2131,NaN,23.70,NaN,NaN,NaN,NaN,NaN,23.70,2017,Officer,0.007329
4,144486,Police Officer,District 11,BPP,WHITE,M,2131,NaN,23.70,NaN,NaN,NaN,NaN,NaN,23.70,2017,Officer,0.007329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27284,10599,Police Officer,District 18,BPP,BLACK,M,2368,100963.38,NaN,211900.28,67849.66,NaN,9016.0,10096.55,399825.87,2021,Officer,99.985342
27285,10599,Police Officer,District 18,BPP,BLACK,M,2368,313154.27,NaN,99893.17,45337.30,NaN,31556.0,4378.77,494319.51,2018,Officer,99.989006
27286,10744,Police Officer,District 13,BPP,BLACK,M,2356,95184.68,NaN,503025.78,45176.88,5307.62,24610.0,4375.69,677680.65,2018,Officer,99.992671
27287,10744,Police Detective,Domestic Violence Unit,PDB,BLACK,M,2356,95184.68,NaN,503025.78,45176.88,5307.62,24610.0,4375.69,677680.65,2018,Detective,99.992671
27288,8968,Police Lieutenant (Det),Academy,PDS,WHITE,F,2186,53226.90,NaN,1045845.44,463.52,NaN,NaN,12812.39,1112348.25,2022,Lieutenant,100.000000

In [23]:
pay = pay.drop_duplicates("employee_id")

In [24]:
pay

,employee_id,rank,unit,union_code,race,sex,Zip Code,regular_pay,retro_pay,other_pay,ot_pay,injured_pay,detail_pay,quinn_pay,total_pay,year,rank_bucket,total_pay_percentile
0,103384,Police Officer,District 06,BPP,WHITE,M,2127,NaN,8.92,NaN,NaN,NaN,NaN,NaN,8.92,2017,Officer,0.000000
2,144486,Police Officer,District 02,BPP,WHITE,M,2131,NaN,23.70,NaN,NaN,NaN,NaN,NaN,23.70,2017,Officer,0.007329
5,144487,Police Officer,District 03,BPP,HISPA,M,2136,NaN,33.17,NaN,NaN,NaN,NaN,NaN,33.17,2017,Officer,0.018323
7,116181,Police Offc Mobile Offc 2$6,Mobile Operations Patrol Unit,BPP,WHITE,F,02131-3330,58.50,0.00,0.00,0.00,0.0,0.0,0.00,58.50,2011,Officer,0.025652
10,108437,Police Detective,D-4 Detective,PDB,WHITE,M,02127-4232,0.00,0.00,580.67,0.00,0.0,0.0,0.00,580.67,2012,Detective,0.036646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24007,9378,Police Sergeant (Det),B-2 Detective,PDS,WHITE,M,02132-5027,94640.52,0.00,10699.46,76805.41,0.0,17472.0,13258.43,212875.82,2011,Sergeant,87.976400
24190,11958,Police Sergeant (Det),Homicide Unit,PDS,WHITE,M,02136-2669,94640.52,0.00,11505.94,101146.35,0.0,0.0,9464.26,216757.07,2013,Sergeant,88.647024
24908,10273,Police Captain/DDC,District 02,PSO,BLACK,M,2186,164500.82,NaN,24561.81,NaN,NaN,NaN,41125.37,230188.00,2021,Captain,91.278218
25200,8962,Lieut-Hackney Carriage Inves.,Hackney Carriage Unit,PSO,WHITE,M,02135-2635,103898.70,0.00,13493.51,59996.82,0.0,44332.0,14555.50,236276.53,2011,Lieutenant,92.348285
25370,8947,Police Captain,Bureau Field Serv./ Off. Chief,PSO,WHITE,M,02081-3778,121244.00,0.00,15662.60,62210.52,0.0,23732.0,16985.44,239834.56,2011,Captain,92.971269

Index(['bpi_id', 'employee_id', 'badge_no', 'last_name', 'first_name', 'rank',
       'unit', 'union_code', 'race', 'sex', 'Zip Code', 'regular_pay',
       'retro_pay', 'other_pay', 'ot_pay', 'injured_pay', 'detail_pay',
       'quinn_pay', 'total_pay', 'year', 'rank_bucket',
       'total_pay_percentile'],
      dtype='str')

In [17]:
pay.drop(columns = ['bpi_id', "badge_no", "last_name", "first_name"], inplace = True)

In [ ]:
overtime = overtime[]

In [9]:
pay.head()

,bpi_id,employee_id,badge_no,last_name,first_name,rank,unit,union_code,race,sex,...,retro_pay,other_pay,ot_pay,injured_pay,detail_pay,quinn_pay,total_pay,year,rank_bucket,total_pay_percentile
0,691f1132-4760-44cb-8bf7-3bbdaefd0938,103384,5147.0,Gannon,Sean,Police Officer,District 06,BPP,WHITE,M,...,8.92,NaN,NaN,NaN,NaN,NaN,8.92,2017,Officer,0.000000
1,691f1132-4760-44cb-8bf7-3bbdaefd0938,103384,5147.0,Gannon,Sean,Police Officer,District 02,BPP,WHITE,M,...,8.92,NaN,NaN,NaN,NaN,NaN,8.92,2017,Officer,0.000000
2,02220257-5141-424b-89fc-269de3c3b6e2,144486,5235.0,Donlon,Christopher,Police Officer,District 02,BPP,WHITE,M,...,23.70,NaN,NaN,NaN,NaN,NaN,23.70,2017,Officer,0.007329
3,02220257-5141-424b-89fc-269de3c3b6e2,144486,5235.0,Donlon,Christopher,Police Officer,Student Officers,BPP,WHITE,M,...,23.70,NaN,NaN,NaN,NaN,NaN,23.70,2017,Officer,0.007329
4,02220257-5141-424b-89fc-269de3c3b6e2,144486,5235.0,Donlon,Christopher,Police Officer,District 11,BPP,WHITE,M,...,23.70,NaN,NaN,NaN,NaN,NaN,23.70,2017,Officer,0.007329

In [11]:
officer_table=pd.read_csv("incident_with_employee_ids.csv")

In [12]:
officer_table.head()

,Unnamed: 0,Inc: IA No,Inc: Incident type,Inc: Received date,Inc: Occurred date,OffSnp: Title/rank,Off: First name,Off: Last name,Alg: Allegation,Alg: Finding,Act: Action taken,Act: Days/hours suspended,Act: Action taken date,First_Name,Middle_Initial,Incident Year,Full Name,Employee ID
0,0,IAD2011-0003,Citizen complaint,01/05/2011,06/18/2009,Sergeant Detective,Albert M,Terestre,Use of Force,Exonerated,NaN,0.0,NaN,Albert,M,2011,Albert M Terestre,10002
1,1,IAD2011-0003,Citizen complaint,01/05/2011,06/18/2009,Police Officer,John K,Rogers,Use of Force,Exonerated,NaN,0.0,NaN,John,K,2011,John K Rogers,11357
2,8,IAD2011-0013,Citizen complaint,01/07/2011,10/27/2010,Police Officer,Andrew B,Blake,Respectful Treatment,Not Sustained,NaN,NaN,NaN,Andrew,B,2011,Andrew B Blake,12104
3,16,IAD2011-0023,Citizen complaint,01/14/2011,11/01/2012,Detective,Laura A,Delaney,Neg.Duty/Unreasonable Judge,Sustained,Oral Reprimand,NaN,06/21/2012,Laura,A,2011,Laura A Delaney,11676
4,21,IAD2011-0039,Citizen complaint,01/22/2011,01/22/2011,Police Officer,Richard L,Medina,Self Identification,Exonerated,NaN,0.0,NaN,Richard,L,2011,Richard L Medina,12131

In [28]:
officer_table.columns

Index(['Unnamed: 0', 'Inc: IA No', 'Inc: Incident type', 'Inc: Received date',
       'Inc: Occurred date', 'OffSnp: Title/rank', 'Off: First name',
       'Off: Last name', 'Alg: Allegation', 'Alg: Finding',
       'Act: Action taken', 'Act: Days/hours suspended',
       'Act: Action taken date', 'First_Name', 'Middle_Initial',
       'Incident Year', 'Full Name', 'Employee ID'],
      dtype='str')

In [30]:
officer_table.drop_duplicates("Employee ID", inplace = True)
officer_table = officer_table[["Employee ID", "First_Name", "Middle_Initial", "Off: Last name"]]

      Employee ID First_Name Middle_Initial Off: Last name
0           10002     Albert              M       Terestre
1           11357       John              K         Rogers
2           12104     Andrew              B          Blake
3           11676      Laura              A        Delaney
4           12131    Richard              L         Medina
...           ...        ...            ...            ...
3339        11175      James              B      Kenneally
3344       157645       Kirk        Orlando        Maxwell
3345       153083      Brian           Ford     Harrington
3351        10732    Michael              R            Nee
3352       157665     Daniel              G       H mariam

[857 rows x 4 columns]

In [34]:
pay.columns

Index(['employee_id', 'rank', 'unit', 'union_code', 'race', 'sex', 'Zip Code',
       'regular_pay', 'retro_pay', 'other_pay', 'ot_pay', 'injured_pay',
       'detail_pay', 'quinn_pay', 'total_pay', 'year', 'rank_bucket',
       'total_pay_percentile', 'Employee ID'],
      dtype='str')

In [39]:
# pay["Employee ID"] = pay["employee_id"]
# pay.drop(columns = ['employee_id'], inplace=True)
pay.columns

Index(['rank', 'unit', 'union_code', 'race', 'sex', 'Zip Code', 'regular_pay',
       'retro_pay', 'other_pay', 'ot_pay', 'injured_pay', 'detail_pay',
       'quinn_pay', 'total_pay', 'year', 'rank_bucket', 'total_pay_percentile',
       'Employee ID'],
      dtype='str')

In [61]:
#officer_table = pd.merge(officer_table, pay, on="Employee ID")
officer_table
officer_table.to_csv('officer_table.csv', index = False)

In [59]:
location_table = officer_table[["Employee ID", "unit"]]
location_table
location_table.to_csv('location_table.csv', index=False)

In [70]:
incidents = pd.read_csv("incident_with_employee_ids.csv")
officer = pd.read_csv("officer_table.csv")

   Unnamed: 0    Inc: IA No Inc: Incident type Inc: Received date  \
0           1  IAD2011-0003  Citizen complaint         01/05/2011
1           8  IAD2011-0013  Citizen complaint         01/07/2011
2          16  IAD2011-0023  Citizen complaint         01/14/2011
3          21  IAD2011-0039  Citizen complaint         01/22/2011
4          22  IAD2011-0039  Citizen complaint         01/22/2011

  Inc: Occurred date OffSnp: Title/rank Off: First name  \
0         06/18/2009     Police Officer          John K
1         10/27/2010     Police Officer        Andrew B
2         11/01/2012          Detective         Laura A
3         01/22/2011     Police Officer       Richard L
4         01/22/2011     Police Officer         James H

  Off: Last name_incident              Alg: Allegation   Alg: Finding  ...  \
0                  Rogers                 Use of Force     Exonerated  ...
1                   Blake         Respectful Treatment  Not Sustained  ...
2                 Delaney  Neg.Duty/Unreasonable Judge      Sustained  ...
3                  Medina          Self Identification     Exonerated  ...
4                 LaCroix         Respectful Treatment  Not Sustained  ...

  retro_pay  other_pay    ot_pay injured_pay detail_pay  quinn_pay  total_pay  \
0      0.00    7999.29  28703.19    21057.91     4345.0       0.00  113039.50
1      0.00     800.00  25059.02        0.00    30370.0    3886.32  129501.14
2      0.00    5117.79   2383.58    56994.82        0.0    9275.04   90975.96
3   3011.25     850.00  47019.10       44.28      296.0       0.00  126523.13
4       NaN    3300.00   1277.54    69071.74     5336.0        NaN   96547.23

   year rank_bucket total_pay_percentile
0  2013     Officer            28.884491
1  2011     Officer            44.297860
2  2012   Detective            12.833480
3  2014    Sergeant            41.512753
4  2016     Officer            16.274553

[5 rows x 72 columns]

In [66]:
df = df.loc[:, ~df.columns.duplicated()]

In [71]:

df.to_csv('incident.csv', index=False)

In [73]:
hi = df.to_csv("employeeroster.csv", index=False)
hi